/* account.css */

/* Styles généraux du body */
body { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(175deg, #f2dad2, #f2ccb2); /* Dégradé pour l'harmonisation avec le site */
    font-family: 'Poppins', sans-serif;
}

main {
    justify-items: center;
}

/* Formulaire */
form {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Titre du formulaire */
form h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    font-family: 'Roboto', sans-serif; /* Police cohérente avec le site */
}

/* Étiquettes du formulaire */
form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #51423f; /* Couleur du texte des labels */
}

/* Champs de saisie */
form input {
    width: 94%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

/* Effet de focus sur les champs de saisie */
form input:focus {
    border-color: #007BFF;
    outline: none;
}

/* Bouton de connexion */
form button {
    width: 70%;
    padding: 10px;
    background-color: #51423f; /* Couleur du bouton (style du site) */
    color: #F3EEE3; /* Texte en blanc cassé */
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Roboto', sans-serif;
}

/* Effet au survol du bouton */
form button:hover {
    background-color: #b78c78; /* Teinte plus claire */
}

/* Lien vers la page de création de compte */
form a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007BFF; /* Couleur du lien */
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

/* Effet au survol du lien */
form a:hover {
    text-decoration: underline;
}


.link {
    text-decoration: none;
    color: #c55e5e;
}